<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base target="_top">
<title>Demo WEB Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Demo APL">
</head>

<body>

<div id="container">
<div id="contents">
<section id="category">

<h2>プロレスから学ぶ人生の教訓シリーズ</h2>
<div class="list">
  <h4>プロレスから学ぶ人生の教訓シリーズ①</h4>
  <p>諦めなければいつかチャンスは来る - 新日本プロレス/内藤哲也から学ぶ -</p>
  <iframe src="/static/image/study1.pdf" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

</section>
<!--/#category-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<footer>
</footer>

<!--CSSファイルの読み込み-->
<link href="/static/css/main.css" rel="stylesheet">

<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
